.Wrapper {
    width: 393px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place {
    margin-top: 10px;
    display: flex;
    width: 351px;
    height: 52px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 40px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.12);
}

.pltext {
    text-align: center;
font-family: var(--font-main);
font-size: 24px;
font-style: normal;
font-weight: 500;
letter-spacing: -0.264px;
}

.q1 {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #FFF;
text-align: center;
font-family: var(--font-main);
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 160%;
}

.recom, .recent {
    display: flex;
    width: 168px;
    height: 53px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    background-color: var(--button-color);
    border-radius: 16px;
    border: none;
}

.recomtext , .recenttext {
    font-family: var(--font-main);
    font-weight: 500;
    color: var(--main-color);
    font-size: 20px;
}

.bt {
    display: flex;
    flex-direction: row;
}

.recom {
    margin-right: 10px;
}

.inputbox {
    margin-top: 36px;
    display: flex;
width: 393px;
height: 62px;
padding: 4px 84px;
justify-content: center;
align-items: center;
gap: 12px;
background: #696969;
}

.inputtext {
    color: #FFF;
text-align: center;
font-family: "Pretendard Variable";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 160%;
}

.voicebox {
    display: flex;
    width: 393px;
    height: 253px;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    flex-direction: column;
}

.voicetext {
    margin-top: 10px;
    color: #000;
text-align: center;
font-family: "Pretendard Variable";
font-size: 32px;
font-style: normal;
font-weight: 700;
}