.Wrap {
    width: 393px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Wrappe {
    width: 393px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fff;
}

.lpfavicon, .lp1favicon {
    margin-top: 280.5px;
}