:root {
  --main-color: #ff9f4f;
  --main-color-mint: #80cbc4;
  --main-color-yellow: #ffe082;
  --background-color: #252525;
  --text-color: #696969;
  --button-color: #5D5D5D;;
  --font-main: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

  --outer-bg: #fff; /* 바깥 배경색 */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  text-align: center;
  font-style: normal;
  letter-spacing: -0.0275rem;
  line-height: 160%; /* 3.6rem */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--outer-bg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 중앙에 고정된 프레임 */
.outer-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-wrapper {
  width: 393px;
  height: 852px;
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.app-container {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
