.Wrapper-black {
    width: 393px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #252525;
}

.mypage-header {
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 700;
margin: 20px;
}

.mypage-container {
padding: 0px 18px 0px 18px;
width: 393px;
background: rgba(255, 255, 255, 0.10);
}

.mypage-text, .mypage-text1 {
text-align: left;
color: #FFF;
font-size: 24px;
font-weight: 600;
}

.mypage-text1 {
margin-top: 25px;
}

.mypage-content {
text-align: left;
color: #FFF;
font-size: 20px;
font-weight: 500;
}

.mypage-btn {
margin-bottom: 16px;
display: flex;
height: 50px;
width: 356px;
padding: 13px 15px;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 10px;

border-radius: 8px;
border: 1px solid #FFF;
background: linear-gradient(128deg, rgba(255, 255, 255, 0.20) 0.02%, rgba(115, 115, 115, 0.00) 91.11%);
}

.mypage-team {
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
margin-top: 28px;
}

.mypage-contact {
color: #FFF;
text-align: center;
font-size: 12px;
font-weight: 400px;
margin-bottom: 25px;
}