.Wrapper-orange {
    width: 393px;
    height: 852px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(180deg, #FFEECF 0%, #FFDDB2 100%);
    padding-top: 50px;
}

.h1 {
    color: var(--background-color);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 10px;
}

.h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.h3 {
    color: #E75900;
    font-size: 40px;
    font-weight: 700;
}

.h4 {
    color: var(--background-color);
    font-size: 40px;
    font-weight: 700;
}

.c {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c1 {
    color: var(--background-color);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.c2 {
    color: var(--background-color);
    font-size: 24px;
    font-weight: 400;
    margin-right: 5px;
}

.c3 {
    color: var(--background-color);
    font-size: 24px;
    font-weight: 700;
}

.favicon {
    width: 300px;
    height: 450px;
    position: absolute;
    bottom: 124px;
}

.cancel {
    display: flex;
    width: 135px;
    height: 56px;
    position: absolute;
    bottom: 68px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    background: #3B3B3B;
    cursor: pointer;
}

.cctext {
    color: #FFF;
    text-align: center;
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 500;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ccmodal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 361px;
    height: 292px;
    border-radius: 16px;
    background: #FFF;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
}

.confirmtext1 {
    color: #000;
    text-align: center;
    font-family: var(--font-main);
    font-size: 32px;
    font-weight: 700;
}

.confirmtext2 {
    color: #4B5563;
    text-align: center;
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
}

.orbt {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.no {
    display: flex;
    width: 150px;
    height: 52px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    background: #424242;
    margin-right: 14px;
    cursor: pointer;
}

.nobt {
    color: #FFF;
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.yes {
    display: flex;
    width: 150px;
    height: 52px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    background: var(--main-color);
    cursor: pointer;
}

.yesbt {
    color: #000;
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.emo {
    font-size: 48px;
}