.Wrap {
    width: 393px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(180deg, #CFCFFF 0%, #A4D8FC 100%);
}

.octext {
    margin-top: 54px;
}

.octext1 {
    color: var(--background-color);
text-align: center;
font-family: var(--font-main);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 160%;
}

.octext2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.octext5 {
    margin-top: 25px;
    color: #8E8E8E;
text-align: center;
font-family: var(--font-main);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 160%;
}

.bobby-oc {
    margin: 0;
}